<div class="template-404 page-width page-margin center">
  <p>
    {%- comment -%}{{ 'templates.404.subtext' | t }}{%- endcomment -%} server 404: // Status: CONNECTED
  </p>
  <h1 class="title">
    <!-- {{ 'templates.404.title' | t }} -->
    ERROR: Terminal not found...
    {{ section.settings.page }}
  </h1>
  <!-- <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a> -->
</div>


{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "sections.page.settings.page.label",
      "info":"sections.page.settings"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}