{% style %}
 .test{
   border: 3px solid red;
   padding: 5rem 0;
 }


.test video {
    width: 100vw;
    aspect-ration: 1/1;
    object-fit: cover;
}
{% endstyle %}



<section>

<div class='test'>
    {{ section.settings.test_video | video_tag: loop: true, autoplay: true, muted: true }}
</div>

    <div class="template-404 page-width page-margin center">
  <p class="">
    {{ section.settings.page.content }}
  </p>
</div>

  
  <!-- <div>
      {% if section.settings.image == blank
      and section.settings.video_url != blank
      and section.settings.embed_video_url == blank
    %}
      <div class="featured-file-video-wrapper">
        <video
          {% if section.settings.autoplay_video == true %}
            autoplay
          {% endif -%}
          {% if section.settings.controls_video == true %}
            controls
          {% endif -%}
          {% if section.settings.mute_video == true %}
            mute
          {% endif -%}
          {% if section.settings.loop_video == true %}
            loop
          {% endif %}
        >
          <source src="{{ section.settings.video_url | asset_url }}" type="video/mp4">
        </video>

      </div>
    {% endif %}

        {% assign video_id = section.settings.embed_video_url | split: 'v=' | slice: 1 %}
    {% capture build_embed_video_url %}https://www.youtube.com/embed/{{ video_id }}?autoplay={% if section.settings.autoplay_video == true %}1{%else%}0{% endif %}&controls={% if section.settings.controls_video == true %}1{%else%}0{% endif %}&mute={% if section.settings.mute_video == true %}1{%else%}0{% endif %}
      {% endcapture %}
    {% if section.settings.image == blank
      and section.settings.video_url == blank
      and section.settings.embed_video_url != blank
    %}
      <div class="featured-embed-video-wrapper">
        <iframe src="{{ build_embed_video_url }}" allow="autoplay"></iframe>
      </div>
    {% endif %}
  </div> -->
</section>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "sections.page.settings.page.label",
      "info":"sections.page.settings"
    },
        {
      "type": "header",
      "content": "Add video"
    },
    {
      "type": "paragraph",
      "content": "WARNING! Choose one of the video options, not allowed to use both"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "OPTION 1 - Add video url, only mp4 (NO YOUTUBE)"
    },
          {
      "type": "video",
      "id": "test_video",
      "label": "test_video"
          },
      
    {
      "type": "video_url",
      "id": "embed_video_url",
      "label": "Option 2 - Add video url (ONLY YOUTUBE)",
      "accept": ["youtube"]
    },
    {
      "type": "checkbox",
      "id": "autoplay_video",
      "label": "Make video play automatically",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "controls_video",
      "label": "Enable video controls",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "mute_video",
      "label": "Mute video",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop_video",
      "label": "Loop video",
      "default": true
    }
  ],

  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}