{% form 'contact' id: 'contact' %}
  <div>
    <h1>
      You can contact <br>
      or talk to us on
    </h1>
    <a>office@ultraelectrique.co</a>
  </div>

  <div>
    <p>
      Get notified about new product arrivals <br>
      and early releases
    </p>
  </div>
  <div class="field">
    <input
      class="field__input"
      autocomplete="name"
      type="text"
      id="contactForm-name"
      name="contact[{{ 'templates.contact.form.name' | t }}]"
      value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
      placeholder="{{ 'templates.contact.form.name' | t }}"
    >
    <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
  </div>
{% endform %}

{% schema %}
{
  "name": "Contact Page Form",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
