{% style %}
  .contact_form_container{
    width:90%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
    padding: 1rem 2rem 3rem;
    border: solid 3px;
    border-radius: 2rem;
    margin-top: 4rem;
    text-align: center;
  }

    .contact_form_container h3, .contact_form_container a,


  .field{
    margin: 1.5rem 0;
  }

  .button{
    width: 100%;
  }

    @media screen and (min-width: 480px) {
  .contact_form_container{
      padding: 1rem 10rem ;
       border-radius: 4rem;
  }
  }
{% endstyle %}

<div class="contact_form_container">
  {% form 'contact' id: 'contact' %}
    <div>
      <h3>
        You can contact <br>
        or talk to us on
      </h3>
      <a>office@ultraelectrique.co</a>
    </div>

    <div>
      <p>
        Get notified about new product arrivals <br>
        and early releases
      </p>
    </div>

    <div class="field field--with-error">
      <input
        autocomplete="email"
        type="email"
        id="ContactForm-email"
        class="field__input"
        name="contact[email]"
        spellcheck="false"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="ContactForm-email-error"
        {% endif %}
        placeholder="{{ 'templates.contact.form.email' | t }}"
      >
      <label class="field__label" for="ContactForm-email">
        {{- 'templates.contact.form.email' | t }}
        <span aria-hidden="true">*</span></label
      >
      {% if form.errors contains 'email' %}
        <small class="contact__field-error" id="ContactForm-email-error">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message">
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </span>
        </small>
      {%- endif -%}
    </div>
    <div class="field">
      <input
        type="tel"
        id="ContactForm-phone"
        class="field__input"
        autocomplete="tel"
        name="contact[{{ 'templates.contact.form.phone' | t }}]"
        pattern="[0-9\-]*"
        value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        placeholder="{{ 'templates.contact.form.phone' | t }}"
      >
      <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
    </div>

    <div class="">
      <button type="submit" class="button">
        {{ 'templates.contact.form.sign_up_for_updates' | t }}
      </button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact Page Form",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
