{% style %}
  .contact_form_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 4rem auto 0;
    padding: 1rem 2rem 3rem;
    border: solid 3px;
    border-radius: 2rem;
    text-align: center;
  }

  .contact_form_container h3,
  .contact_form_container a,
  .contact_form_container p {
    font-weight: bold;
    color: black;
    font-family: "Zekton";
  }

  .contact_form_container h3 {
    font-size: 3rem;
  }

  .contact_form_container a {
    display: inline-block;
    text-decoration: underline;
    font-size: 1.8rem;
  }
  .contact_form_container p {
    font-size: 1.3rem;
  }

  .field {
    margin: 1.5rem 0;
  }

  .button {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    .contact_form_container {
      max-width: 60rem;
      padding: 1rem 10rem;
      border-radius: 4rem;
    }

    .contact_form_container a {
      font-size: 2.5rem;
    }
  }
{% endstyle %}

<div class="contact_form_container">
  {% form 'contact' id: 'contact' %}
    <div>
      <h3>You can contact us on</h3>
      <h4>
        {{ section.settings.heading }}</h4>
      <a>office@ultraelectrique.co</a>
    </div>

    <div>
      <p>
        Get notified about new product arrivals <br>
        and early releases
      </p>
    </div>

    <div class="field field--with-error">
      <input
        autocomplete="email"
        type="email"
        id="ContactForm-email"
        class="field__input"
        name="contact[email]"
        spellcheck="false"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        {% if form.errors contains 'email' %}
        aria-invalid="true"
        aria-describedby="ContactForm-email-error"
        {% endif %}
        placeholder="{{ 'templates.contact.form.email' | t }}">
      <label class="field__label" for="ContactForm-email">
        {{- 'templates.contact.form.email' | t }}
        <span aria-hidden="true">*</span>
      </label>
      {% if form.errors contains 'email' %}
        <small class="contact__field-error" id="ContactForm-email-error">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message">
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </span>
        </small>
      {%- endif -%}
    </div>
    <div class="field">
      <input
        type="tel"
        id="ContactForm-phone"
        class="field__input"
        autocomplete="tel"
        name="contact[{{ 'templates.contact.form.phone' | t }}]"
        pattern="[0-9\-]*"
        value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        placeholder="{{ 'templates.contact.form.phone' | t }}">
      <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
    </div>

    <div class="">
      <button type="submit" class="button">
        {{ 'templates.contact.form.sign_up_for_updates' | t }}
      </button>
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Page Form",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Contact form heading",
        "info": "Change heading text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}