{% form 'contact' id: 'contact' %}
  <div>
    <h1>
      You can contact <br>
      or talk to us on
    </h1>
    <a>office@ultraelectrique.co</a>
  </div>

  <div>
    <p>
      Get notified about new product arrivals <br>
      and early releases
    </p>
  </div>
  <div class="field">
    <input
      class="field__input"
      autocomplete="email"
      type="text"
      id="contactForm-email"
      email="contact[{{ 'templates.contact.form.email' | t }}]"
      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      placeholder="{{ 'templates.contact.form.email' | t }}"
    >
    <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}</label>
  </div>
{% endform %}

{% schema %}
{
  "name": "Contact Page Form",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
