<div class="field">
  <input
    class="field__input"
    autocomplete="name"
    type="text"
    id="ContactForm-name"
    name="contact[{{ 'templates.contact.form.name' | t }}]"
    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
    placeholder="{{ 'templates.contact.form.name' | t }}"
  >
  <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
</div>

{% schema %}
{
  "name": "Contact Page Form",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
