{% style %}
  .ueq-mobile-menu-wrapper {
    background-color: {{ section.settings.menu_background_color}};
  }

  .mobile-shop-linklist-wrapper a,
  a:visited,
  a:active {
    color: {{ section.settings.menu_item_color}} !important;
  }
{% endstyle %}

{% javascript %}
  let closeBtn = document.getElementById("close-ueq-mobile-menu")
  closeBtn.addEventListener("click", e => {
    let mobileMenuContainer = document.getElementById("ueq-mobile-menu-container");
    mobileMenuContainer.style.display = "none";
  });
{% endjavascript %}

<div class="ueq-mobile-menu-container" id="ueq-mobile-menu-container">
  <div class="ueq-mobile-menu-wrapper">
    <div class="menu-close-wrapper">
      <div class="close-icon" id="close-ueq-mobile-menu">
        {% include 'ueq-icon-close-button' %}
      </div>
    </div>
    <div class="mobile-shop-linklist-wrapper">
      {%- if shop.customer_accounts_enabled -%}
        <div class="user-area">
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            {%- if customer -%}ACCOUNT{%- else -%}LOGIN{%- endif -%}
          </a>

          {% include 'icon-user' %}

        </div>
      {%- endif -%}

      {% for link in linklists.shop.links %}
        <a href="{{link.url}}">{{link.title}}</a>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mobile menu settings",
    "class": "UEQ Sections",
    "settings": [
      {
        "type": "header",
        "content": "UEQ mobile menu settings"
      }, {
        "type": "color",
        "id": "menu_background_color",
        "label": "Pick a color",
        "default": "#ffffff",
        "info": "Color of menu background"
      }, {
        "type": "color",
        "id": "menu_item_color",
        "label": "Pick a color",
        "default": "#000000",
        "info": "Color of menu items"
      }, {
        "type": "paragraph",
        "content": "Developed by DigitalDepth"
      }
    ]
  }
{% endschema %}